<div ng-controller="translate.setSettingsController as vm">
    <umb-load-indicator ng-if="model.loading"></umb-load-indicator>

    <div ng-if="!model.loading">
        <translate-licence-banner></translate-licence-banner>
        <umb-box ng-if="model.validationMsg.length > 0" class="tm-box-alert-danger">
            <umb-box-header title="Set not valid"></umb-box-header>
            <umb-box-content>
                {{model.validationMsg}}
            </umb-box-content>
        </umb-box>

        <umb-box ng-if="model.isLoopback"
                 class="tm-box-alert-info">
            <umb-box-header title="Circular Translation set"></umb-box-header>
            <umb-box-content>
                <localize key="translate_setMatch"></localize>
            </umb-box-content>
        </umb-box>
    </div>


    <div class="usync-details" ng-if="!model.loading">

        <div class="usync-details-main-content">
            <umb-box>
                <umb-box-header title-key="translate_sites"></umb-box-header>
                <umb-box-content>
                    <umb-control-group label="@translate_master"
                                       description="@translate_masterDesc">
                        <umb-property-editor model="model.masterPicker" />
                    </umb-control-group>

                    <umb-control-group label="@translate_sites"
                                       description="@translate_sitesDesc">
                        <umb-property-editor model="model.sitePicker" />
                    </umb-control-group>
                </umb-box-content>
            </umb-box>
            <umb-box>
                <umb-box-header title-key="translate_properties"></umb-box-header>
                <umb-box-content>

                    <umb-control-group label="@translate_translateNode"
                                       description="@translate_translateNodeDesc">
                        <umb-toggle checked="model.set.TranslateNodeName"
                                    on-click="model.set.TranslateNodeName = !model.set.TranslateNodeName"></umb-toggle>
                    </umb-control-group>

                    <umb-control-group label="@translate_properties"
                                       description="@translate_propertiesDesc">
                        <input type="text"
                               ng-model="model.set.Properties"
                               class="umb-textstring umb-property-editor" />
                        <div ng-if="model.isLoopback">
                            <small class="muted">
                                Only properites marked <span class="tm-vary-by-box">
                                    <i class="icon-shuffle umb-group-builder__property-tag-icon"></i>
                                    <localize key="contentTypeEditor_variantsHeading">Allow varying by culture</localize>
                                </span>
                                will be included
                            </small>
                        </div>
                    </umb-control-group>

                    <umb-control-group label="@translate_ignore"
                                       description="@translate_ignoreDesc">
                        <input type="text"
                               ng-model="model.set.IgnoreDocTypes"
                               class="umb-textstring umb-property-editor" />
                    </umb-control-group>
                </umb-box-content>
            </umb-box>
        </div>
        <div class="usync-details-sidebar">
            <umb-box>
                <umb-box-header title-key="translate_connector"></umb-box-header>
                <umb-box-content>
                    <umb-control-group label="@translate_defaultConnector"
                                       description="@translate_defaultConnectorDesc">

                        <select ng-model="model.set.ProviderKey"
                                class="umb-property-editor umb-dropdown">
                            <option value="00000000-0000-0000-0000-000000000000"
                                    ng-selected="model.set.ProviderKey == '00000000-0000-0000-0000-000000000000'">
                                <localize key="translate_connectorSelect"></localize>
                            </option>
                            <option ng-repeat="p in model.providers"
                                    value="{{p.Key}}"
                                    ng-selected="model.Set.ProviderKey == p.Key">
                                {{p.Name}}
                            </option>
                        </select>
                    </umb-control-group>
                </umb-box-content>
            </umb-box>
            <umb-box class="tm-provider-options">
                <umb-box-header title-key="translate_actions"></umb-box-header>
                <umb-box-content>
                    <umb-control-group label="@translate_copyCreate"
                                       description="@translate_copyCreateDesc"
                                       ng-if="!model.isLoopback">
                        <umb-toggle checked="model.set.CopyOnCreate"
                                    on-click="model.set.CopyOnCreate = !model.set.CopyOnCreate"></umb-toggle>
                    </umb-control-group>
                    <umb-control-group label="@translate_createSend"
                                       description="@translate_createSendDesc">
                        <umb-toggle checked="model.set.AutoSend"
                                    on-click="model.set.AutoSend = !model.set.AutoSend"></umb-toggle>
                    </umb-control-group>
                    <umb-control-group label="@translate_automatic"
                                       description="@translate_automaticDesc">
                        <umb-toggle checked="model.set.AutoApprove"
                                    on-click="model.set.AutoApprove = !model.set.AutoApprove"></umb-toggle>
                    </umb-control-group>
                </umb-box-content>
            </umb-box>
        </div>
    </div>
</div>
